[Desktop Entry]
Version=1.0
Name=Freeplane
Name[ko]=마인드맵 도구 Freeplane
Exec=/usr/bin/freeplane %F
Terminal=false
Icon=freeplane
Type=Application
MimeType=application/x-freeplane;
Categories=Office;
GenericName=Freeplane
Comment=A free tool to structure and organise your information with mind mapping
Comment[ko]=마인드 맵으로 정보를 구성하고 조직화하는 무료 도구 입니다.
Keywords=Mindmaps; Knowledge management; Organize information; Brainstorming; ...;
